<h1>Welcome to Slack Portals</h1>
<p>With Slack Portals, you can link two different companies Slacks together through a common channel.</p>
<p>To get started, <%= link_to "sign in with Google", "/auth/google_oauth2", id: "sign_in" %></p>
