<div class='row centered-text'>
  <div class="large-12 columns">
    <h1>Welcome to Slack Portals</h1>
    <h5 class='subheader'>With Slack Portals, you can link two different companies Slacks together through a common channel.</h5>
  </div>

  <div class='large-12 columns'>
    <p><%= link_to "Get started by signing in with Google →", "/auth/google_oauth2", id: "sign_in" %></p>
  </div>
</div>