<div class='row centered-text'>
  <div class="large-12 columns">
    <h1>Welcome to Slack Portals</h1>
    <h5 class='subheader'>With Slack Portals, you can link two different companies Slacks together through a common channel.</h5>
  </div>

  <div class='large-12 columns'>
    <p><%= link_to "Get started by signing in with Google →", "/auth/google_oauth2", id: "sign_in" %></p>
  </div>

  <div class='large-12 columns'>
    <p>Slack Portals uses SSL so your communication will remain secure, and we don't log anything on the server, so your history is safe. But if you don't trust us, feel free to fork the <a href="https://github.com/atomic-app/slack-portals">github project</a> and spin up your own Heroku instance.</p>
  </div>
</div>